@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&family=Roboto:ital,wght@0,300;0,400;0,500;1,500&display=swap');

/* FONT FAMILY USAGE:   
  font-family: 'PT Serif', serif;
  font-family: 'Roboto', sans-serif;
*/
h1,h2,h3 {
  font-family: 'Roboto', sans-serif;

}