/* BRAND COLORS */
$primary-orange:  #EDB313;
$secondary-orange: #d5a111;
$modern-blue: #244e81;

/* GREYS */
$black: #000;
$silver: #b0b5b5;
$body-text: #252525;
$headings-color: #252525;

/* FONTS */
$heading-font: 'Roboto', sans-serif;
$body-font: 'PT Serif', serif;

